body {
    background-color: darkgray;
}

.jumbotron {
    background-color: #FFFFF3;
}

#container {
    background-color: #FFFFF3;
    border: solid 1px blue;
    width: 100%;

}

.navbar navbar-light bg-light {
    background-color: #FFFFF3;
}
